# Python
__pycache__/
*.py[cod]
*.pyc
*.class
.Python

# Ambientes virtuais
env/
venv/
.venv/
ENV/

# Build/Distribuição
build/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
wheels/

# IDE/SO
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log

# Artefatos do app
logs/
uploads/

# Segredos
.streamlit/secrets.toml
.env
*.env
